on boot
    # Tüm input (dokunmatik/tuş) cihazlarına tam yetki ver
    chown root     system /sys/class/input/input*
    chmod 0660 /sys/class/input/input*
    
    # Güç hatlarını tetikle
    write /sys/class/input/input0/enabled 1
    write /sys/class/input/input1/enabled 1
    write /sys/class/input/input2/enabled 1
    write /sys/class/input/input3/enabled 1
    write /sys/class/input/input4/enabled 1

    # MediaTek genel dokunmatik suspend kontrolü
    chown system system /sys/board_properties/tpd_suspend
    chmod 0660 /sys/board_properties/tpd_suspend

on property:sys.listeners.registered=true
    # Burası kernel boot bittikten sonra inputları sisteme bağlar
    write /sys/class/input/input0/enabled 1
